<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="net.tcp://localhost:8000/ServiceModelSamples/Service" binding="customBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.Security.ICalculatorDuplex" behaviorConfiguration="CalculatorClientBehavior">
        <!--Include the identity element when running the sample cross-machine in a domain environment.
            If the server is running in a user account, specify the account's UserPrincipalName as the identity.
            If the server is running in a service account (Network Service for example), specify the account's 
            ServicePrincipalName as the identity.
            The config below assumes that the server is running in a user account.
        <identity>
          <userPrincipalName value = "user_name@service_domain"/>
        </identity>
        -->
      </endpoint>
    </client>

    <bindings>
      <!-- configure a custom binding -->
      <customBinding>
        <binding name="Binding1">
          <security authenticationMode="SecureConversation" requireSecurityContextCancellation="true">
          </security>
          <textMessageEncoding messageVersion="Soap12WSAddressing10" writeEncoding="utf-8"/>
          <sslStreamSecurity requireClientCertificate="false"/>
          <tcpTransport/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="CalculatorClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
