<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<configuration>
  <system.serviceModel>

    <services>
      <service name="Microsoft.Samples.Discovery.CalculatorService"
               behaviorConfiguration="calculatorServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Microsoft.Samples.Discovery.ICalculatorService"
                  behaviorConfiguration="endpointBehaviorConfiguration" />
        <!-- Add an UdpDiscoveryEndpoint over which the discovery service will listen for discovery request messages. -->
        <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" endpointConfiguration="adhocDiscoveryEndpointConfiguration"/>
      </service>
    </services>

    <behaviors>

      <serviceBehaviors>
        <behavior name="calculatorServiceBehavior">

          <!-- Add ServiceDiscoveryBehavior which enables discovery -->
          <serviceDiscovery>
            <!-- This section is used to specify where the announcement messages will be sent. If this section is not added, then announcements will not be sent. -->
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>

        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="endpointBehaviorConfiguration">

          <endpointDiscovery>
            <!-- The endpoint discovery behavior can be used to enable or disable discovery for a particular endpoint as well as adding scopes. -->
            <scopes>
              <add scope="http://www.microsoft.com/building42/floor1"/>
              <add scope="ldap:///ou=engineering,o=exampleorg,c=us"/>
            </scopes>
          </endpointDiscovery>

        </behavior>
      </endpointBehaviors>

    </behaviors>

    <standardEndpoints>
      <udpDiscoveryEndpoint>
        <!-- Specify the discovery protocol version and maxResponseDelay -->
        <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11" maxResponseDelay="00:00:00.600" />
      </udpDiscoveryEndpoint>
    </standardEndpoints>

  </system.serviceModel>
</configuration>