@page
@model BuggyAmb.Pages.Problem.UnhandledExceptionModel
@{
    ViewData["Title"] = "UnhandledException";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <h1>UnhandledException</h1>


}

<h1>UnhandledException</h1>

