<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- 
        Note that maxReceivedMessageSize was manually 
        raised to allow receiving of large messages
        Also note that, by default, HTTP transferMode is set to Buffered 
        this is because for HTTP the decision to stream or buffer is a local decision
        that can be different on the client and service sides
        transferMode was manually changed to Streamed in this sample to 
        allow transport streaming on the client side
        -->
        <binding maxReceivedMessageSize="67108864" transferMode="Streamed">
        </binding>
      </basicHttpBinding>
      <customBinding>
        <!-- 
            Note that maxReceivedMessageSize was manually 
            raised to allow receiving of large messages
            Also note that transferMode for TCP is automatically set to 
            Streamed or Buffered based on the service's metadata
          -->
        <binding>
          <textMessageEncoding messageVersion="Soap12WSAddressing10"/>
          <httpTransport transferMode="Streamed" maxReceivedMessageSize="67108864"/>
        </binding>
      </customBinding>

    </bindings>
    <client>
      <endpoint address="http://localhost:8000/servicemodelsamples/service/ep1" binding="basicHttpBinding" contract="Microsoft.Samples.Stream.IStreamingSample" name="BasicHttpBinding_IStreamingSample"/>
      <endpoint address="http://localhost:9000/servicemodelsamples/service/ep2" binding="customBinding" contract="Microsoft.Samples.Stream.IStreamingSample" name="CustomBinding_IStreamingSample"/>
    </client>
  </system.serviceModel>
</configuration>
