<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.WorkService" behaviorConfiguration="WorkServiceBehavior">
        <endpoint address="net.tcp://localhost:8000/" binding="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IDoWork" name="WorkService"/>
        <endpoint address="net.tcp://localhost:8000/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Microsoft.ServiceModel.Samples.ObjectPooledWorkService" behaviorConfiguration="WorkServiceBehavior">
        <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IDoWork" name="ObjectPooledWorkService"/>
        <endpoint address="net.tcp://localhost:8001/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkServiceBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
