<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="customBinding" />
    </protocolMapping>
    <bindings>
      <customBinding>
        <binding>
          <droppingInterceptor />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="droppingInterceptor" type="Microsoft.Samples.MessageInterceptor.DroppingServerElement, service" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
