<?xml version="1.0"?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <system.serviceModel>
    <bindings>
      <!-- Service binding using federation -->      
      <wsFederationHttpBinding>
        <!-- Service binding using federation -->
        <binding name="ServiceFed">
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <!-- Endpoint address and binding for Security Token Service -->
              <issuer address="http://localhost:8000/sts/windows" binding="wsHttpBinding"/>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>

    <client>
      <!-- Service endpoint -->
      <endpoint name="ServiceFed" binding="wsFederationHttpBinding" bindingConfiguration="ServiceFed" behaviorConfiguration="Client" address="http://localhost:8010/fedservice/calc" contract="Microsoft.Samples.DurableIssuedTokenProvider.ICalculator"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="Client">
          <clientCredentials supportInteractive="false">
            <serviceCertificate>
              <!-- 
              Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
              is in the user's Trusted People store, then it will be trusted without performing a
              validation of the certificate's issuer chain. This setting is used here for convenience so that the 
              sample can be run without having to have certificates issued by a certificate authority (CA).
              This setting is less secure than the default, ChainTrust. The security implications of this 
              setting should be carefully considered before using PeerOrChainTrust in production code. 
              -->
              <authentication certificateValidationMode="PeerOrChainTrust"/>
              <defaultCertificate storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=localhost"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
