<configuration>
  <!-- remove comment to enable diagnostics
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" 
              propagateActivity="true">
        <listeners>
          <add name="e2e" />
        </listeners>
      </source>
      <source name="Microsoft.Samples.ChunkingChannel" switchValue="Verbose" >
        <listeners>
          <add name="e2e" />
        </listeners>
      </source>
    </sources>
    
    Define a shared trace listener that outputs to TraceFile.e2e
    The listener name is e2e 
    
    <sharedListeners>
      <add name="e2e" type="System.Diagnostics.XmlWriterTraceListener"
        initializeData=".\TraceFile.e2e"/>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
