<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>  
  <connectionStrings>    
    <add name="DbActivitiesSample"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLExpress;Initial Catalog=DbActivitiesSample;Integrated Security=true"/>
  </connectionStrings>
</configuration>