<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>

  <!-- Uncomment this and section in system.serviceModel and then created c:\logs to enable WF/WCF message logging -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\messages2.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

  <system.serviceModel>
    <!-- Uncomment this and section in system.diagnostics and then created c:\logs to enable WF/WCF message logging -->
    <!--<diagnostics wmiProviderEnabled="false" performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
         logMessagesAtServiceLevel="false"
         logMessagesAtTransportLevel="true"
         maxMessagesToLog="10000"
         maxSizeOfMessageToLog="2147483647">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>-->
      
      <extensions>
        <behaviorExtensions>
          <add name="trackingComponents" type="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.GenericTrackingProviderElement, TrackingLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ISubscriptionService" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:8732/Design_Time_Addresses/service/SubscriptionManager/"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionService"
            contract="ISubscriptionService" name="BasicHttpBinding_ISubscriptionService" />
      </client>
      <services>
        <service name="Microsoft.Samples.DocumentApprovalProcess.ApprovalClient.ApprovalRequestsService">
          <endpoint address="" binding="basicHttpBinding" contract="Microsoft.Samples.DocumentApprovalProcess.ApprovalClient.IClientApproval" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
        <service name="Microsoft.Samples.DocumentApprovalProcess.ApprovalClient.ApprovalMonitor">
          <endpoint address="" binding="basicHttpBinding" contract="IApprovalResults" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="True"/>
            <serviceDebug includeExceptionDetailInFaults="False" />
            <trackingComponents>
              <add name="consoleTrackingParticipant" type="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.WriterParticipant, TrackingLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" profileName="Approval_Monitor"/>
            </trackingComponents>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <tracking>
        <profiles>
          <trackingProfile name="Approval_Monitor">
            <workflow>
              <workflowInstanceQueries>
                <workflowInstanceQuery>
                  <states>
                    <state name="*" />
                  </states>
                </workflowInstanceQuery>
              </workflowInstanceQueries>
              <activityStateQueries>
                <activityStateQuery activityName="*">
                  <states>
                    <state name="*" />
                  </states>
                </activityStateQuery>
              </activityStateQueries>
            </workflow>
          </trackingProfile>
        </profiles>
      </tracking>
    </system.serviceModel>
</configuration>