<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="default" address="http://localhost:8000/servicemodelsamples/service" binding="customBinding" bindingConfiguration="HttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
      <endpoint name="tcp" address="net.tcp://localhost:9000/servicemodelsamples/service" binding="customBinding" bindingConfiguration="TcpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
      <endpoint name="namedpipe" address="net.pipe://localhost/servicemodelsamples/service" binding="customBinding" bindingConfiguration="NamedPipeBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
    </client>

    <bindings>
      <!-- 
                Following are three CustomBinding configurations.
                Each configures a transport and an encoding, using BindingElements.
                The order of the BindingElements used to define a CustomBinding is important.
                Each BindingElement represents a layer in the channel stack.
                The BindingElements provided in System.ServiceModel are layered as follows:
                   
                    <XXXMessageEncodingBindingElement />
                    <ReliableSessionBindingElement />
                    <SecurityBindingElement />
                    <CompositeDuplexBindingElement />
                    <XXXTransportBindingElement />
                    
                See the other CustomBinding samples to learn how to configure other features.
            -->
      <customBinding>
        <!-- Configure a CustomBinding that supports http transport and text encoding -->
        <binding name="HttpBinding">
          <textMessageEncoding messageVersion="Soap12WSAddressing10"/>
          <!-- Attributes of textMessageEncoder with default values.
                        messageVersion="Soap12WSAddressing10" 
                        writeEncoding="utf-8" 
                        maxReadPoolSize="64"
                        maxWritePoolSize="16"
                    -->
          <httpTransport/>
          <!-- Attributes of httpTransport with default values.
                        allowCookies="False"
                        authenticationScheme="Anonymous"
                        bypassProxyOnLocal="False"
                        hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="True"
                        maxBufferSize="65536"
                        proxyAddress=""
                        proxyAuthenticationScheme="Anonymous"
                        realm=""
                        scheme="http"
                        transferMode="Buffered"
                        unsafeConnectionNtlmAuthentication="False"
                        useDefaultWebProxy="True"
                        manualAddressing="False"
                        maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536"                    
                        -->
        </binding>
        <!-- Configure a CustomBinding that supports tcp transport and text encoding -->
        <binding name="TcpBinding">
          <textMessageEncoding/>
          <!-- Attributes of textMessageEncoder with default values.
                        messageVersion="Soap12WSAddressing10" 
                        writeEncoding="utf-8" 
                        maxReadPoolSize="64"
                        maxWritePoolSize="16"
                    -->
          <tcpTransport/>
          <!-- Attributes of tcpTransport with default values.
                        listenBacklog="10"
                        portSharingEnabled="False"
                        scheme="net.tcp"
                        teredoEnabled="False"
                        connectionBufferSize="8192"
                        hostNameComparisonMode="StrongWildcard"
                        maxBufferSize="65536"
                        maxPendingConnections="10"
                        channelInitializationTimeout="00:00:05"
                        maxOutputDelay="00:00:00.2"
                        maxPendingAccepts="1"
                        transferMode="Buffered"
                        manualAddressing="False"
                        maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536"
                        -->
        </binding>
        <!-- Configure a CustomBinding that supports namedpipe transport and binary encoding -->
        <binding name="NamedPipeBinding">
          <binaryMessageEncoding/>
          <!-- Attributes for binaryMessageEncoder with default values.
                        maxSessionSize="2048" 
                        maxReadPoolSize="64"
                        maxWritePoolSize="16"
                    -->
          <namedPipeTransport/>
          <!-- Attributes of namedPipeTransport with default values.
                        scheme="net.pipe"
                        connectionBufferSize="8192"
                        hostNameComparisonMode="StrongWildcard"
                        maxBufferSize="65536"
                        maxPendingConnections="10"
                        channelInitializationTimeout="00:00:05"
                        maxOutputDelay="00:00:00.2"
                        maxPendingAccepts="1"
                        transferMode="Buffered"
                        manualAddressing="False"
                        maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536"
                        -->
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
