<?xml version="1.0"?>
<configuration>

  <system.serviceModel>

    <!-- 
         add our udpTransport handler for use by binding declarations 
     -->
    <!-- 
         add our standard binding handler for use by binding declarations 
     -->
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransport" type="Microsoft.Samples.Udp.UdpTransportElement, UdpTransport"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="Microsoft.Samples.Udp.SampleProfileUdpBindingCollectionElement, UdpTransport"/>
      </bindingExtensions>
    </extensions>

    <services>
      <service name="Microsoft.Samples.Udp.ConfigurableCalculatorService" behaviorConfiguration="udpServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/udpsample"/>
          </baseAddresses>
        </host>
        <endpoint address="soap.udp://localhost:8001/" binding="sampleProfileUdpBinding" bindingConfiguration="CalculatorServer" contract="Microsoft.Samples.Udp.ICalculatorContract"/>
        <endpoint address="soap.udp://localhost:8002/datagram" binding="customBinding" bindingConfiguration="DatagramServer" contract="Microsoft.Samples.Udp.IDatagramContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
        <!-- 
         server bindings 
          -->
        <sampleProfileUdpBinding>
            <binding name="CalculatorServer" clientBaseAddress="soap.udp://localhost:8003/"/>
            <binding name="DatagramServer" reliableSessionEnabled="false"/>
        </sampleProfileUdpBinding>

        <customBinding>
        <binding name="DatagramServer">
            <binaryMessageEncoding/>
            <udpTransport/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="udpServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
