<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <!-- this endpoint has an https: address -->
      <endpoint name="" address="https://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.TransportSecurity.ICalculator"/>
    </client>

    <bindings>
      <basicHttpBinding>
        <!-- configure BasicHttp binding with Transport security mode and
			       clientCredentialType as None-->
        <binding name="Binding1">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
