<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="urn:Stuff" binding="wsHttpBinding" contract="ICalculator" name="WSHttpBinding_ICalculator">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
      <endpoint address="urn:Stuff" binding="wsHttpBinding" contract="IEcho" name="WSHttpBinding_IEcho">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
      <endpoint address="urn:OtherEcho" binding="wsHttpBinding" contract="IEcho" name="WSHttpBinding_IEcho1">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
