<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IDatagramContract">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <UpdTransportElementClientSide maxBufferPoolSize="524288" maxMessageSize="65536" multicast="false"/>
        </binding>
      </customBinding>
      <sampleProfileUdpBinding>
        <binding name="SampleProfileUdpBinding_ICalculatorContract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" orderedSession="true" reliableSessionEnabled="true" sessionInactivityTimeout="00:10:00" clientBaseAddress="soap.udp://localhost:8003/"/>
      </sampleProfileUdpBinding>
    </bindings>
    <client>
      <endpoint address="soap.udp://localhost:8001/" binding="sampleProfileUdpBinding" bindingConfiguration="SampleProfileUdpBinding_ICalculatorContract" contract="ICalculatorContract" name="SampleProfileUdpBinding_ICalculatorContract"/>
      <endpoint address="soap.udp://localhost:8002/datagram" binding="customBinding" bindingConfiguration="CustomBinding_IDatagramContract" contract="IDatagramContract" name="CustomBinding_IDatagramContract"/>
    </client>
    <extensions>
      <bindingElementExtensions>
        <add name="UpdTransportElementClientSide" type="Microsoft.Samples.Udp.UdpTransportElement, UdpTransport"/>
      </bindingElementExtensions>
      <!-- This was added manually because svcutil.exe does not add this extension to the file -->
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="Microsoft.Samples.Udp.SampleProfileUdpBindingCollectionElement, UdpTransport"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
