<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="net.pipe://localhost/servicemodelsamples/service" binding="netNamedPipeBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
