<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="Calculator" address="http://localhost:8000/servicemodelsamples" binding="customBinding" bindingConfiguration="poxBinding" contract="Microsoft.ServiceModel.Samples.ICalculator" behaviorConfiguration="enableHttpGetRequestsBehavior"/>
    </client>

    <bindings>
      <customBinding>
        <binding name="poxBinding">
          <textMessageEncoding messageVersion="None"/>
          <httpTransport manualAddressing="True"/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="enableHttpGetRequestsBehavior">
          <enableHttpGetRequests/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <!-- Enabling HTTP GET requests: Behavior Extension -->
        <add name="enableHttpGetRequests" type="Microsoft.ServiceModel.Samples.EnableHttpGetRequestsBehaviorElement, QueryStringFormatter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
