<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>

  <system.serviceModel>
    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="wsDualHttpBinding" bindingConfiguration="DuplexBinding" contract="Microsoft.Samples.Duplex.ICalculatorDuplex"/>
    </client>

    <bindings>
      <!-- configure a binding that support duplex communication -->
      <wsDualHttpBinding>
        <binding name="DuplexBinding" clientBaseAddress="http://localhost:8000/myClient/">
        </binding>
      </wsDualHttpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
