<?xml version="1.0"?>
<!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="http://localhost:8000/servicemodelsamples/service" binding="wsHttpBinding" contract="Microsoft.Samples.WindowsService.ICalculator" />
    </client>
  </system.serviceModel>
</configuration>
