<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.Samples.CustomTextMessageEncoder.CalculatorService"
          behaviorConfiguration="CalculatorServiceBehavior">
        <!-- use base address provided by host -->
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="DefaultBinding" 
                  contract="Microsoft.Samples.CustomTextMessageEncoder.ICalculator" />
        <endpoint address="secure"
                 binding="customBinding"
                 bindingConfiguration="SecureBinding" 
                 contract="Microsoft.Samples.CustomTextMessageEncoder.ICalculator" />
      </service>
    </services>

    <bindings>
      <customBinding>

        <binding name="DefaultBinding" >
          <customTextMessageEncoding encoding="ISO-8859-1" />
          <httpTransport />
        </binding>

        <binding name="SecureBinding" >
          <customTextMessageEncoding encoding="ISO-8859-1">
            <readerQuotas maxStringContentLength="1024"/>
          </customTextMessageEncoding>
          <security>
            <secureConversationBootstrap />
          </security>
          <httpTransport />
        </binding>

      </customBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <bindingElementExtensions>
        <add name="customTextMessageEncoding"
             type="Microsoft.Samples.CustomTextMessageEncoder.CustomTextMessageEncodingElement, CustomTextMessageEncoder"/>
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>

</configuration>
