<?xml version="1.0"?>
<!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="queueName" value=".\private$\ServiceModelSamplesTwo-way/OrderStatus"/>
  </appSettings>

  <system.serviceModel>

    <services>
      <service name="Microsoft.Samples.MSMQTwoWay.OrderStatusService">
        <!-- Define NetMsmqEndpoint -->
        <endpoint address="net.msmq://localhost/private/ServiceModelSamplesTwo-way/OrderStatus" binding="netMsmqBinding" bindingConfiguration="netMsmqBindingConfig" contract="Microsoft.Samples.MSMQTwoWay.IOrderStatus"/>
      </service>
    </services>

    <client>
      <!-- Define NetMsmqEndpoint -->
      <endpoint name="OrderProcessorEndpoint" address="net.msmq://localhost/private/ServiceModelSamplesTwo-way/OrderProcessor" binding="netMsmqBinding" bindingConfiguration="netMsmqBindingConfig" contract="Microsoft.Samples.MSMQTwoWay.IOrderProcessor"/>
    </client>

    <bindings>
      <netMsmqBinding>
        <binding name="netMsmqBindingConfig">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
