<?xml version="1.0" encoding="utf-8" ?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <appSettings>
    <add key="purchaseLimit" value="15" />
    <add key="certDistinguishedName" value="CN=HomeRealmSTS.com" />
    <add key="targetDistinguishedName" value="CN=BookStoreSTS.com" />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the STS and provide message protection.
            This configuration references the "HomeRealmSTS.com" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation ="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"
                                findValue="HomeRealmSTS.com" />
          </serviceCredentials>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled ="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>

  </system.serviceModel>

</configuration>
