<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <!-- ICalculator endpoint using BasicBinding -->
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
      <!-- ICalculatorSession endpoint using BindingWithSession -->
      <endpoint address="http://localhost/servicemodelsamples/service.svc/session" binding="wsHttpBinding" bindingConfiguration="BindingWithSession" contract="Microsoft.ServiceModel.Samples.ICalculatorSession"/>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="BindingWithSession">
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
