<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Setting httpGetEnabled to True on the serviceMetadata behavior exposes the service's wsdl at <base address>?wsdl :
               http://localhost/servicemodelsamples/service.svc?wsdl -->
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
