<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.Samples.MsmqActivation.OrderProcessorService">
        <!-- Define NetMsmqEndpoint -->
        <endpoint address="net.msmq://localhost/private/servicemodelsamples/service.svc"
                  binding="netMsmqBinding"
                  contract="Microsoft.Samples.MsmqActivation.IOrderProcessor" />
      </service>
    </services>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

