<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="rspServiceBehavior">
                    <serviceMetadata httpGetEnabled ="True" policyVersion="Policy15" />
                    <serviceDebug includeExceptionDetailInFaults ="False" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="rspBinding">
                    <reliableSession />
                    <MakeConnectionBindingElement/>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <extensions>
            <bindingElementExtensions>
                <add name="MakeConnectionBindingElement" type="Microsoft.Samples.ReliableSecureProfile.MakeConnectionElement, MakeConnectionChannel, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </bindingElementExtensions>
        </extensions>
        <services>
            <service behaviorConfiguration="rspServiceBehavior" name="Microsoft.Samples.ReliableSecureProfile.ProcessDataService">
                <endpoint binding="customBinding" bindingConfiguration="rspBinding"
                    contract="Microsoft.Samples.ReliableSecureProfile.IProcessDataDuplex"
                    listenUriMode="Explicit">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/ProcessDataService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>