<?xml version="1.0"?>
<configuration>
   <system.serviceModel>

      <client>
         <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" contract="Microsoft.Samples.Unwrapped.ICalculator"/>
      </client>

   </system.serviceModel>

</configuration>
