<?xml version="1.0" encoding="utf-8" ?>
<!--Copyright (c) Microsoft Corporation. All rights reserved.-->
<configuration>
  <system.serviceModel>
    <extensions>
      <endpointExtensions>
        <add name="udpSecureDiscoveryEndpoint" type="Microsoft.Samples.Discovery.Configuration.UdpSecureDiscoveryEndpointCollectionElement, CompactSignatureSecurity,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="udpSecureAnnouncementEndpoint" type="Microsoft.Samples.Discovery.Configuration.UdpSecureAnnouncementEndpointCollectionElement, CompactSignatureSecurity,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </endpointExtensions>
    </extensions>
    <services>
      <service name="Microsoft.Samples.Discovery.CalculatorService" behaviorConfiguration="calculatorServiceBehavior">
        <!--application endpoint-->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Microsoft.Samples.Discovery.ICalculatorService" />
        <!--secure discovery endpoint-->
        <endpoint name="udpSecureDiscoveryEndpoint"
                  kind="udpSecureDiscoveryEndpoint"
                  endpointConfiguration="udpSecureDiscoveryEndpointConfiguration" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServiceBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint name="udpSecureAnnouncementEndpoint"
                 kind="udpSecureAnnouncementEndpoint"
                 endpointConfiguration="udpSecureAnnouncementEndpointConfiguration" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <udpSecureDiscoveryEndpoint>
        <standardEndpoint name="udpSecureDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11">
          <!--The store location and name where we are looking for client certificates-->
          <receivedCertificatesStoreSettings storeName="My" storeLocation="LocalMachine" />
          <!--Signing certificate details-->
          <signingCertificateSettings storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName"
                                      findValue="CN=DiscoverySecureServiceCertificate"/>
        </standardEndpoint>
      </udpSecureDiscoveryEndpoint>
      <udpSecureAnnouncementEndpoint>
        <standardEndpoint name="udpSecureAnnouncementEndpointConfiguration" discoveryVersion="WSDiscovery11">
          <!--Use default settings for certificates store: storeName="My" storeLocation="LocalMachine" -->
          <!--Signing certificate details: use default values for store-->
          <signingCertificateSettings findValue="CN=DiscoverySecureServiceCertificate"/>
        </standardEndpoint>
      </udpSecureAnnouncementEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>