<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost:8000/servicemodelsamples/service" binding="wsHttpBinding" contract="Microsoft.Samples.Impersonation.ICalculator">
      </endpoint>
    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
