<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!-- Service implements two contracts and exposes two endpoints.-->
    <services>
      <service 
          name="Microsoft.ServiceModel.Samples.CalculatorService"
          behaviorConfiguration="CalculatorServiceBehavior">
        <!-- ICalculator endpoint is exposed using BasicBinding at the base address provided by host: 
             http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Microsoft.ServiceModel.Samples.ICalculator" />
        <!-- ICalculatorSession endpoint is exposed using BindingWithSession at {baseaddress}/session:
             http://localhost/servicemodelsamples/service.svc/session -->
        <endpoint address="session"
                  binding="wsHttpBinding"
                  bindingConfiguration="BindingWithSession" 
                  contract="Microsoft.ServiceModel.Samples.ICalculatorSession" />
        <!-- the mex endpoint is exposed at http://localhost/servicemodelsamples/service.svc/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="BindingWithSession">
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
