<?xml version="1.0"?>
<configuration>
   <system.serviceModel>

     <client>
       <endpoint name="echoservice" address="net.tcp://localhost:9000/echoservice" binding="customBinding" bindingConfiguration="textOverTcp" contract="Microsoft.ServiceModel.Samples.IEchoService"/>       
     </client>

     <bindings>
       <customBinding>
         <binding name="textOverTcp">
           <textMessageEncoding/>
           <tcpTransport/>
         </binding>
       </customBinding>
     </bindings>
     
   </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
