<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Activities.Core" switchValue="Verbose">
        <listeners>
          <add name="xmlListener" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="System.Activities" switchValue="Verbose">
        <listeners>
          <add name="xmlListener" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="System.Activities.Extended" switchValue="Verbose">
        <listeners>
          <add name="xmlListener" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose">
        <listeners>
          <add name="xmlListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="PurchaseProcess.Tracing.TraceLog.txt"
           traceOutputOptions="None"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="xmlListener" />
      </listeners>
    </trace>
  </system.diagnostics>  
</configuration>