<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <!-- passing "basic" into the constructor of the CalculatorClient class selects this endpoint-->
      <endpoint name="basic" address="http://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
      <!-- passing "secure" into the constructor of the CalculatorClient class selects this endpoint-->
      <endpoint name="secure" address="http://localhost/servicemodelsamples/service.svc/secure" binding="wsHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator"/>
    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
