<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SuspendedInstanceManagement.Properties.Settings.MySWISConnectionString"
        connectionString="Data Source=localhost\\SQLEXPRESS;Initial Catalog=DefauktSampleStore;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://workflowInstanceControl"
        binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBinding1" contract="System.ServiceModel.Activities.IWorkflowInstanceManagement" name="controlEndpoint" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding1">
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>