<?xml version="1.0"?>
<!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="net.pipe://localhost/servicemodelsamples/service.svc" binding="netNamedPipeBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.NamedPipeActivation.ICalculator"/>
    </client>

    <bindings>

      <!--  Following is the expanded configuration section for a NetNamedPipeBinding.
            Each property is configured with the default value.   -->

      <netNamedPipeBinding>
        <binding name="Binding1" maxBufferSize="65536" maxConnections="10">
          <security mode="None">
          </security>
        </binding>

      </netNamedPipeBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
