<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.Http.ICalculator"/>
    </client>

    <bindings>
      <basicHttpBinding>
        <!-- See this sample's service configuration for the expanded 
             configuration section for a basicHttpBinding.  The client binding
             configuration also has an allowCookies setting which is false by default
            -->
        <binding name="Binding1" allowCookies="false"/>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
