<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add name="ETW" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add type="Microsoft.Samples.ServiceModel.EtwTraceListener, ETWTraceListener"
                name="ETW" traceOutputOptions="Timestamp" />
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
      <protocolMapping>
        <add scheme="http" binding="wsHttpBinding"/>
      </protocolMapping>
      
      <bindings>
        <wsHttpBinding>
          <binding/>
        </wsHttpBinding>
        <mexHttpBinding>
          <binding/>
        </mexHttpBinding>
      </bindings>
      
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="False" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
    </system.serviceModel>
</configuration>