<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
  <!--register CreationEndpoint-->
    <extensions>
      <endpointExtensions>
        <add name="creationEndpoint" type="Microsoft.Samples.WF.CreationEndpoint.CreationEndpointCollection, CreationEndpoint, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </endpointExtensions>
    </extensions>    
    <services>
      <!-- add endpoint to service-->
      <service name="CreationService">
        <endpoint kind="creationEndpoint" binding="basicHttpBinding" address="http://localhost/workflowCreationEndpoint"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
