<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.PingPong" behaviorConfiguration="PingPongBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/PingPong"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IPingPong"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
        </binding>
      </netTcpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="PingPongBehavior">
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
