<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="mexHttpBinding">
        </binding>
        <binding name="WSHttpBinding_Windows">
          <security mode="Message">
            <message algorithmSuite="Basic128"
                     clientCredentialType="Windows"
                     establishSecurityContext="false"  />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="Microsoft.ServiceModel.Samples.CalculatorService"
               behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8003/servicemodelsamples" />
          </baseAddresses>
        </host>
        <endpoint address="mex"
                  behaviorConfiguration=""
                  binding="wsHttpBinding"
                  bindingConfiguration="mexHttpBinding"
                  name="MexEndpoint"
                  contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
