<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="endpoint1"
                address=""
                binding="basicHttpBinding"
                bindingConfiguration="basicHttpBinding"
                contract="Microsoft.Samples.ConfigurationChannelFactory.ICalculator">
      </endpoint>
      <endpoint name="endpoint2"
                address=""
                binding="netTcpBinding"
                bindingConfiguration="netTcpBinding"
                contract="Microsoft.Samples.ConfigurationChannelFactory.ICalculator">
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" messageEncoding="Mtom" maxReceivedMessageSize="14000" allowCookies="True" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding" maxReceivedMessageSize="16384" hostNameComparisonMode="Exact" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
