<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <extensions>
            <bindingExtensions>
                <add name="wsStreamedHttpBinding" type="Microsoft.Samples.WSStreamedHttpBinding.WSStreamedHttpBindingCollectionElement, WSStreamedHttpBinding, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </bindingExtensions>
        </extensions>
        <client>
            <endpoint address="https://localhost/servicemodelsamples/service.svc" bindingConfiguration="Binding" binding="wsStreamedHttpBinding" contract="Microsoft.Samples.WSStreamedHttpBinding.IStreamedEchoService"/>
        </client>
        <bindings>
            <wsStreamedHttpBinding>
                <binding name="Binding" transferMode="Streamed"/>
            </wsStreamedHttpBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
