<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://localhost:8001/PingPong" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="IPingPong"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
