<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalcServiceSEP1">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="CalcServiceSEP2">
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

        <binding name="CalcServiceSEP3">
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" bindingConfiguration="CalcServiceSEP1" contract="Microsoft.Samples.ServiceModel.ICalculator" name="CalcServiceSEP1"/>
      <endpoint address="http://localhost/servicemodelsamples/service.svc/wshttp2" binding="wsHttpBinding" bindingConfiguration="CalcServiceSEP2" contract="Microsoft.Samples.ServiceModel.ICalculator" name="CalcServiceSEP2">
      </endpoint>
      <endpoint address="http://localhost/servicemodelsamples/service.svc/wshttp3" binding="wsHttpBinding" bindingConfiguration="CalcServiceSEP3" contract="Microsoft.Samples.ServiceModel.ICalculator" name="CalcServiceSEP3"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
