<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="Microsoft.Samples.GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:8000/samples/GZipEncoder" bindingConfiguration="ISampleServer" binding="customBinding" contract="ISampleServer">
      </endpoint>
      <metadata>
        <policyImporters>
          <extension type="Microsoft.Samples.GZipEncoder.GZipMessageEncodingBindingElementImporter, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </policyImporters>
      </metadata>
    </client>
    <bindings>
      <customBinding>
        <binding name="ISampleServer">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <httpTransport manualAddressing="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
