<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <appSettings>
    <!-- This key can be encryped by using the aspnet_regiis.exe tool using the following command: -->
    <!-- aspnet_regiis -pe "appSettings" -app "/servicemodelsamples" -prov "DataProtectionConfigurationProvider" -->
    <add key="aSensitiveKey" value="aSensitiveValue "/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true">
        <listeners>
          <add name="ServiceModelMessageLoggingListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="ServiceModelMessageLoggingListener" 
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
           initializeData="c:\logs\SecurityLockdown-serviceMessages.svclog" />
      <add name="ServiceModelTraceListener" 
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           initializeData="c:\logs\SecurityLockdown-serviceTraces.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" 
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>
    
      <protocolMapping>
        <add scheme="http" binding="wsHttpBinding"/>
      </protocolMapping>
      <bindings>
        <wsHttpBinding>
          <binding/>
        </wsHttpBinding>
        <mexHttpBinding>
          <binding/>
        </mexHttpBinding>
      </bindings>

    <behaviors>
      <serviceBehaviors>
        <!-- Prevent nested directory config file from changing the behaviors we set by using the lockItem config switch -->
        <behavior lockItem="true">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
