<?xml version="1.0"?>
<configuration>
   <system.serviceModel>
     <client>
       <endpoint address="net.tcp://localhost:8000/" binding="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IDoWork" name="WorkService"/>

       <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IDoWork" name="ObjectPooledWorkService"/>
     </client>
   </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
