<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <connectionStrings>
    <add name="WorkflowPersistence" connectionString="Data Source=.\SQLExpress;Initial Catalog=InstanceStore;Integrated Security=True;Asynchronous Processing=True" />
    <add name="ContosoHR" connectionString="Data Source=.\SQLExpress;Initial Catalog=ContosoHR;Integrated Security=True;Asynchronous Processing=True" />    
  </connectionStrings>
  <system.serviceModel>
    <!--<endpoint isSystemEndpoint="true" name="httpControlEndpoint" kind="workflowControlEndpoint" address="http://localhost:8001/http-none" binding="basicHttpBinding" />-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJobPostingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WorkflowControlHttpsBinding" transactionFlow="true">
          <security mode="Transport" />
        </binding>
        <binding name="WorkflowControlHttpBinding" transactionFlow="true" />
        <binding name="WSHttpBinding_IInboxService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IOrgService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/contoso/InboxService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInboxService"
        contract="IInboxService" name="WSHttpBinding_IInboxService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Contoso/OrgService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrgService"
        contract="IOrgService" name="WSHttpBinding_IOrgService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:18564/ResumeRequestService.xamlx"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobPostingService"
        contract="IJobPostingService" name="BasicHttpBinding_IJobPostingService" />
    </client>
    <diagnostics wmiProviderEnabled="false" performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="10000" maxSizeOfMessageToLog="2147483647">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>
    <extensions>
      <behaviorExtensions>        
        <add name="historyFileTracking" type="Microsoft.Samples.HiringService.HistoryFileTrackingExtensionElement, HiringRequestService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />       
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <historyFileTracking profileName="RequestStoryTracking"/>
          <etwTracking profileName="Troubleshooting Tracking Profile" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <tracking>
      <profiles>
        <trackingProfile name="RequestStoryTracking">
          <workflow activityDefinitionId="*">
            <customTrackingQueries>
              <customTrackingQuery name="*" activityName="*" />
            </customTrackingQueries>
          </workflow>
        </trackingProfile>
        <trackingProfile name="HealthMonitoring Tracking Profile">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="Started" />
                  <state name="Completed" />
                  <state name="Aborted" />
                  <state name="UnhandledException" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName="*" faultHandlerActivityName="*" />
            </faultPropagationQueries>
          </workflow>
        </trackingProfile>
        <trackingProfile name="Troubleshooting Tracking Profile">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <activityStateQueries>
              <activityStateQuery activityName="*">
                <states>
                  <state name="*" />
                </states>
              </activityStateQuery>
            </activityStateQueries>
            <activityScheduledQueries>
              <activityScheduledQuery activityName="*" childActivityName="*" />
            </activityScheduledQueries>
            <cancelRequestedQueries>
              <cancelRequestedQuery activityName="*" childActivityName="*" />
            </cancelRequestedQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName="*" faultHandlerActivityName="*" />
            </faultPropagationQueries>
            <bookmarkResumptionQueries>
              <bookmarkResumptionQuery name="*" />
            </bookmarkResumptionQueries>
            <customTrackingQueries>
              <customTrackingQuery name="*" activityName="*" />
            </customTrackingQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>
  </system.serviceModel>
</configuration>