<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost/servicemodelsamples/service.svc" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.Http.ICalculator"/>
    </client>

    <bindings>
      <wsHttpBinding>
        <!-- See this sample's service configuration for the expanded 
             configuration section for a WSHttpBinding.  The client binding
             configuration also has an allowCookies setting which is false by default
            -->
        <binding name="Binding1" allowCookies="false"/>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
