<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculator_Windows">
          <readerQuotas />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Basic128" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8003/servicemodelsamples/service/Calculator" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator_Windows" contract="ICalculator" name="WSHttpBinding_ICalculator_Windows"></endpoint>
    </client>
  </system.serviceModel>
</configuration>
