<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="endpointValidate" type="Microsoft.Samples.ServiceModel.EndpointValidateElement, endpointValidate, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <!--basic http bindings are not secure by default-->
        <binding name="SecurityBinding1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <!--ws http bindings are secure by default-->
        <binding name="SecurityBinding2">
          <security mode="Message" />
        </binding>
        <!--security turned off to demonstrate ws http bindings default security-->
        <binding name="SecurityBinding3">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalcServiceSEB1">
          <serviceMetadata httpGetEnabled="true" />
          <endpointValidate />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service
        behaviorConfiguration="CalcServiceSEB1"
        name="Microsoft.Samples.ServiceModel.CalculatorService">
        <endpoint
          address=""
          binding="basicHttpBinding"
          bindingConfiguration=""
          name="CalcServiceSEP1"
          contract="Microsoft.Samples.ServiceModel.ICalculator" />
        <endpoint
          address="wshttp2"
          binding="wsHttpBinding"
          bindingConfiguration="SecurityBinding2"
          name="CalcServiceSEP2"
          contract="Microsoft.Samples.ServiceModel.ICalculator" />
        <endpoint
          address="wshttp3"
          binding="wsHttpBinding"
          bindingConfiguration="SecurityBinding3"
          name="CalcServiceSEP3"
          contract="Microsoft.Samples.ServiceModel.ICalculator" />
      </service>
    </services>
  </system.serviceModel>
</configuration>