<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="transactionalOleTransactionsTcpBinding" transactionFlow="true" transactionProtocol="OleTransactions"/>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="transactionalWsatHttpBinding" transactionFlow="true"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/ServiceModelSamples/service" binding="wsHttpBinding" bindingConfiguration="transactionalWsatHttpBinding" contract="ICalculator" name="WSAtomicTransaction_endpoint">
        <!--The username and the domain over here will have to be replaced 
        by the identity under which the service will be running-->
         <!--identity>
              <userPrincipalName value="username@domain" />
         </identity-->
      </endpoint>
      <endpoint address="net.tcp://localhost:8008/ServiceModelSamples/service" binding="netTcpBinding" bindingConfiguration="transactionalOleTransactionsTcpBinding" contract="ICalculator" name="OleTransactions_endpoint">
        <!--The username and the domain over here will have to be replaced 
        by the identity under which the service will be running-->
         <!--identity>
              <userPrincipalName value="username@domain" />
         </identity-->
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
