<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="wsHttpBinding" contract="Microsoft.Samples.ServiceModel.ICalculator"/>
    </client>
  </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="ClientCalculatorTraceSource" switchValue="Information,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\ExtendingTracing-client.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" traceOutputOptions="Callstack"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
