<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <!-- 
				The default security for the WSHttpBinding is Message Security using Windows 
				authentication.This configuration explicitly defines the SecurityMode as Message 
				and the clientCredentialType as Windows for demonstration purposes.
				-->
        <binding>
          <security mode ="Message">
            <message clientCredentialType ="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="True"/>
          <!-- serviceSecurityAudit allows specification of audit location and whether to 
               audit success, failure or both. This service logs success and failure of messageAuthentication 
               to the default location -->
          <serviceSecurityAudit auditLogLocation ="Default" messageAuthenticationAuditLevel ="SuccessOrFailure" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
