<?xml version="1.0"?>
<!--  Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost/ServiceModelSamples/service.asmx" binding="basicHttpBinding" contract="Microsoft.Samples.WCFClientInteropASMX.CalculatorServiceSoap"/>
    </client>

  </system.serviceModel>

</configuration>
