<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved -->
<configuration>
  <system.serviceModel>

    <client>
      <!--	<endpoint address="http://localhost:8000/servicemodelsamples/service" 
								binding="wsHttpBinding" 
								contract="Microsoft.Samples.HelloRoutingService.ICalculator" />-->

      <endpoint address="http://localhost:8000/routingservice/router"
                binding="wsHttpBinding"
                contract="Microsoft.Samples.HelloRoutingService.ICalculator" />
    </client>
   
  </system.serviceModel>

</configuration>

