<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework=".NETFramework,Version=v4.0" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>

          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="True"/>
          <!--<etwTracking profileName="HealthMonitoring Tracking Profile"/>-->
          <sqlWorkflowInstanceStore connectionString="Data Source=.\SQLExpress;Initial Catalog=InstanceStore;Integrated Security=True;Asynchronous Processing=True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <tracking>
      <profiles>
        <!-- The health monitoring profile queries for workflow instance level records and for workflow actvity faultpropagationrecords -->
        <trackingProfile name="HealthMonitoring Tracking Profile">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="Started"/>
                  <state name="Completed"/>
                  <state name="Aborted"/>
                  <state name="UnhandledException"/>
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName ="*" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
          </workflow>
        </trackingProfile>
        
        <!-- The troubleshooting profile is a verbose profile that subscribes for all tracking records emitted by the workflow runtime -->
        <trackingProfile name="Troubleshooting Tracking Profile">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <activityStateQueries>
              <activityStateQuery activityName="*">
                <states>
                  <state name="*" />
                </states>
              </activityStateQuery>
            </activityStateQueries>
            <activityScheduledQueries>
              <activityScheduledQuery activityName="*" childActivityName="*" />
            </activityScheduledQueries>
            <cancelRequestedQueries>
              <cancelRequestedQuery activityName="*" childActivityName="*" />
            </cancelRequestedQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName="*" faultHandlerActivityName="*" />
            </faultPropagationQueries>
            <bookmarkResumptionQueries>
              <bookmarkResumptionQuery name="*" />
            </bookmarkResumptionQueries>
            <customTrackingQueries>
              <customTrackingQuery name="*" activityName="*" />
            </customTrackingQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>
  </system.serviceModel>

  <connectionStrings>    
    <add name="WorkflowPersistence" connectionString="Data Source=.\SQLExpress;Initial Catalog=InstanceStore;Integrated Security=True;Asynchronous Processing=True" />
    <add name="ContosoHR" connectionString="Data Source=.\SQLExpress;Initial Catalog=ContosoHR;Integrated Security=True;Asynchronous Processing=True" />    
  </connectionStrings>
</configuration>