bin
obj
artifacts
pack
.vs
.vscode

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.metaproj
*.tmp
*.cache
*.binlog
*.zip

.nuget
*.lock.json
*.nuget.props
*.nuget.targets

node_modules
_site
.jekyll-metadata
.jekyll-cache
Gemfile.lock
package-lock.json