<?xml version="1.0" encoding="utf-8" ?>
 <!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.Samples.CustomServiceHost.CalculatorService">
        <!-- This endpoint is exposed at the base address provided by host: http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Microsoft.Samples.CustomServiceHost.ICalculator" />

        <!-- Note that we're not explicitly enabling metadata in configuration, so 
             it's off by default. Instead of enabling mex in configuration, we'll add
             it imperatively by means of a custom class that derives from ServiceHost. -->

      </service>
    </services>
  </system.serviceModel>

</configuration>
