<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>

  <!-- Tracing configuration -->
  <!-- Network Service must have permission to write to the c:\logs directory -->
  <system.diagnostics>
    <sources>
      <!-- Configure an application trace source with both a Text and Xml TraceListener -->
      <source name="CalculatorServiceTraceSource">
        <listeners>
          <add name="text" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\CalculatorService.out" />
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\CalculatorService.e2e" />
        </listeners>
      </source>

      <!-- Configure an end-to-end trace source using a XmlWriterTraceListener -->
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\System.ServiceModel.e2e" />
        </listeners>
      </source>

      <!-- Configure related System.Net trace sources using a XmlWriterTraceListener -->
      <source name="System.Net">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\System.Net.e2e" />
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\System.Net.HttpListener.e2e" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\System.Net.Sockets.e2e" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\System.Net.Cache.e2e" />
        </listeners>
      </source>

      <!-- Configure message logging to output message logs into c:\logs\messages directory -->
      <!-- Removing this trace source and message logs will be output to  %windir%\system32\logfiles\messages -->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\message.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <!-- MessageLogging configuration -->
  <system.serviceModel>
    <diagnostics>
      <!-- log all messages received or sent at the transport level -->
      <messageLogging logEntireMessage="true"
                      maxMessagesToLog="300"
                      logMessagesAtServiceLevel="false"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>
  </system.serviceModel>


  <!-- Service configuration, same as the GettingStarted basic technology sample -->
  <!-- Security has been disabled from WsHttpBinding to log non-encrypted messages -->
  <system.serviceModel>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
