<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
	<client>
     <metadata>
         <policyImporters>
             <extension type="Microsoft.Samples.ReliableSecureProfile.MakeConnectionBindingElementImporter, MakeConnectionChannel, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </policyImporters>
     </metadata>
 </client>
        <extensions>
            <bindingElementExtensions>
                <add name="MakeConnectionBindingElement" type="Microsoft.Samples.ReliableSecureProfile.MakeConnectionElement, MakeConnectionChannel, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </bindingElementExtensions>
        </extensions>
    </system.serviceModel>
</configuration>

