<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.serviceModel>
	<client>
		<metadata>
			<wsdlImporters>
				<extension type="Microsoft.ServiceModel.Samples.UdpBindingElementImporter, UdpTransport" />
			</wsdlImporters>
			<policyImporters>
				<extension type="Microsoft.ServiceModel.Samples.UdpBindingElementImporter, UdpTransport" />
                	</policyImporters>
		</metadata>
	</client>
	<extensions>
		<bindingElementExtensions>
			<add name="UpdTransportElementClientSide" type="Microsoft.ServiceModel.Samples.UdpTransportElement, UdpTransport" />
		</bindingElementExtensions>
		<bindingExtensions>
			<add name="sampleProfileUdpBinding" type="Microsoft.ServiceModel.Samples.SampleProfileUdpBindingCollectionElement, UdpTransport" />
		</bindingExtensions>
	</extensions>
</system.serviceModel>
</configuration>