<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="https" binding="wsHttpBinding" />
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Transport">
            <!-- The extendedProtectionPolicy configuration must be one of 
                  : Never (which is the default), WhenSupported, Always
                  This setting should match exactly as configured in IIS in 
                  the advanced settings for windows authentication for 
                  this vdir -->
            <transport>
              <extendedProtectionPolicy policyEnforcement="Always"/>
            </transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the 
          metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults 
          for debugging purposes, set the value below to true.  
          Set to false before deployment to avoid disclosing 
          exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>