<?xml version="1.0"?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <system.serviceModel>
    <bindings>
      <wsFederationHttpBinding>
        <!-- This is the binding used to communicate with the BookStore STS. -->
        <binding name="BookStoreSTS">
          <security mode="Message">
            <message>
              <issuer address="http://localhost/FederationSample/HomeRealmSTS/STS.svc" binding="wsHttpBinding" bindingConfiguration="HomeRealmSTS"/>
            </message>
          </security>
        </binding>
        <!-- This is the binding for the BuyBooks endpoint at the BookStore Service -->
        <binding name="WSFederationHttpBinding_IBuyBook">
          <security mode="Message">
            <message>
              <issuer address="http://localhost/FederationSample/BookStoreSTS/STS.svc" binding="wsFederationHttpBinding" bindingConfiguration="BookStoreSTS">
                <identity>
                  <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectName" findValue="BookStoreSTS.com"/>
                </identity>
              </issuer>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
      <wsHttpBinding>
        <!-- This is the binding for the BrowseBooks endpoint at BookStore Service -->
        <binding name="WSHttpBinding_IBrowseBooks">
          <security mode="None"/>
        </binding>
        <!-- This is the binding used to communicate with the HomeRealm STS -->
        <binding name="HomeRealmSTS">
          <security mode="Message"/>          
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="BuyBookClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <!-- 
              Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
              is in the user's Trusted People store, then it will be trusted without performing a
              validation of the certificate's issuer chain. This setting is used here for convenience so that the 
              sample can be run without having to have certificates issued by a certificate authority (CA).
              This setting is less secure than the default, ChainTrust. The security implications of this 
              setting should be carefully considered before using PeerOrChainTrust in production code. 
              -->
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      
      <endpoint name="WSHttpBinding_IBrowseBooks" address="http://localhost/FederationSample/BookStoreService/store.svc/browse" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBrowseBooks" contract="IBrowseBooks"/>
      <endpoint name="WSFederationHttpBinding_IBuyBook" address="http://localhost/FederationSample/BookStoreService/store.svc/buy" binding="wsFederationHttpBinding" bindingConfiguration="WSFederationHttpBinding_IBuyBook" behaviorConfiguration="BuyBookClientBehavior" contract="IBuyBook">
        <identity>
          <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectName" findValue="BookStoreService.com"/>
        </identity>
      </endpoint>
    </client>
    
      </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
