<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<configuration>
   <!--Register the secure endpoint extension-->
  <system.serviceModel>
    <extensions>
      <endpointExtensions>
        <add name="udpSecureDiscoveryEndpoint" type="Microsoft.Samples.Discovery.Configuration.UdpSecureDiscoveryEndpointCollectionElement, CompactSignatureSecurity,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </endpointExtensions>
    </extensions>
    <client>
      <!--application endpoint-->
      <endpoint address=""
          binding="wsHttpBinding"
          contract="ICalculatorService"/>
      <!--secure discovery endpoint-->
      <endpoint name="udpSecureDiscoveryEndpoint"
                kind="udpSecureDiscoveryEndpoint"
                endpointConfiguration="udpSecureDiscoveryEndpointConfiguration" />
    </client>
    <standardEndpoints>
      <udpSecureDiscoveryEndpoint>
        <standardEndpoint name="udpSecureDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11">
          <!--Uncomment next line and specify store settings for received certificates to use other values than default-->
          <!--<receivedCertificatesStoreSettings storeName="My" storeLocation="LocalMachine" />-->
          <!--Signing certificate details-->
          <signingCertificateSettings storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" 
                                      findValue="CN=DiscoverySecureClientCertificate"/>
        </standardEndpoint>
        </udpSecureDiscoveryEndpoint>
      </standardEndpoints>
  </system.serviceModel>
</configuration>