@inherits LayoutComponentBase

<div class="page d-flex flex-column vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-check2-square me-2"></i>
                    Journaled Todo Lists
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-controls="navbarContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <NavBar />
            </div>
        </nav>
    </header>

    <main class="container mt-4 flex-grow-1 overflow-auto">
        @Body
    </main>
</div>
