<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-2"></i> Home
            </NavLink>
        </li>
        @foreach (var listId in TodoLists)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"todolist/{listId}")">
                    <i class="bi bi-list-task me-1"></i> @listId
                </NavLink>
            </li>
        }
    </ul>
</div>
