<?xml version="1.0"?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" behaviorConfiguration="ClientBehavior" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.MembershipAndRoleProvider.ICalculator"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <!-- 
              Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
              is in the user's Trusted People store, then it will be trusted without performing a
              validation of the certificate's issuer chain. This setting is used here for convenience so that the 
              sample can be run without having to have certificates issued by a certificate authority (CA).
              This setting is less secure than the default, ChainTrust. The security implications of this 
              setting should be carefully considered before using PeerOrChainTrust in production code. 
              -->
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <wsHttpBinding>
        <!-- Set up a binding that uses Username as the client credential type -->
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
