<?xml version="1.0"?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <system.serviceModel>
    <client>
      <!-- Endpoint that expect SAML tokens with Symmetric proof keys -->
      <endpoint name="CalcSymm" address="http://localhost:8000/servicemodelsamples/service/calc/symm" binding="wsFederationHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.SamlTokenProvider.ICalculator"/>
      <!-- Endpoint that expect SAML tokens with Asymmetric proof keys -->
      <endpoint name="CalcAsymm" address="http://localhost:8000/servicemodelsamples/service/calc/asymm" binding="wsFederationHttpBinding" bindingConfiguration="Binding2" contract="Microsoft.Samples.SamlTokenProvider.ICalculator"/>
    </client>

    <bindings>
      <wsFederationHttpBinding>
        <!-- Binding that expect SAML tokens with Symmetric proof keys -->
        <binding name="Binding1">
          <security mode="Message">
            <message negotiateServiceCredential="false" issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1"/>
          </security>
        </binding>
        <!-- Binding that expect SAML tokens with Asymmetric proof keys -->
        <binding name="Binding2">
          <security mode="Message">
            <message negotiateServiceCredential="false" issuedKeyType="AsymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1"/>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
