<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.Samples.Http.CalculatorService"
          behaviorConfiguration="CalculatorServiceBehavior">
        <!-- this endpoint is exposed at the base address provided by host: http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="Binding1" 
                  contract="Microsoft.Samples.Http.ICalculator" />
        <!-- the mex endpoint is exposed at http://localhost/servicemodelsamples/service.svc/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <!-- 
            Following is the expanded configuration section for a WSHttpBinding.
            Each property is configured with the default value.
            See the ReliableSession, TransactionFlow, TransportSecurity, and MessageSecurity
            samples in the WS directory to learn how to configure these features.
            -->
        <binding name="Binding1"
                  bypassProxyOnLocal="false" 
                  transactionFlow="false" 
                  hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="524288" 
                  maxReceivedMessageSize="65536"
                  messageEncoding="Text" 
                  textEncoding="utf-8" 
                  useDefaultWebProxy="true"
                  allowCookies="false">
          <reliableSession ordered="true" 
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Message">
            <message clientCredentialType="Windows" 
                     negotiateServiceCredential="true"
                     algorithmSuite="Default" 
                     establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
