<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="mexHttpBinding">
        </binding>
        <binding name="WSHttpBinding_Windows">
          <security mode="Message">
            <message clientCredentialType="Windows" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Microsoft.Samples.Identity.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8003/servicemodelsamples/service/"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" behaviorConfiguration="" binding="wsHttpBinding" bindingConfiguration="mexHttpBinding" name="MexEndpoint" contract="IMetadataExchange">
          <!-- Metadata endpoints can also have identity associated with them -->
          <!--<identity>
                 <dns value="identity.com"/>
             </identity>-->
        </endpoint>
        <!-- The endpoint shows how identity can be set in configuration. -->
        <!-- The other endpoints are set in service.cs -->
        <endpoint address="upnidentity" behaviorConfiguration="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Windows" name="WSHttpBinding_ICalculator_Windows" contract="Microsoft.Samples.Identity.ICalculator">
          <!-- Set the UPN identity for this endpoint -->
          <identity>
              <userPrincipalName value="host\myservice.com"/>
          </identity>
        </endpoint>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
