<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Sets whether the server will connect to a database -->
    <add key="usingSql" value="false"/>
    <!-- Sets the database connection string -->
    <add key="connectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SampleDb.mdf;Integrated Security=True"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceModelSamples/service"/>
            <add baseAddress="net.tcp://localhost:8008/ServiceModelSamples/service"/>
          </baseAddresses>
        </host>
        <!-- specify wsHttpBinding with the WSAtomicTransactionOctober2004 transactional binding configuration -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="transactionalWsatHttpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator" name="WSAtomicTransaction_endpoint"/>
        <!-- specify netTcpBinding and an OleTransactions transactional binding configuration -->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="transactionalOleTransactionsTcpBinding" contract="Microsoft.ServiceModel.Samples.ICalculator" name="OleTransactions_endpoint"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mex_endpoint"/>
      </service>
    </services>

    <!-- binding configuration - configures a WSHttpBinding to require transaction flow -->
    <bindings>
      <netTcpBinding>
        <binding name="transactionalOleTransactionsTcpBinding" transactionFlow="true" transactionProtocol="OleTransactions"/>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="transactionalWsatHttpBinding" transactionFlow="true"/>
      </wsHttpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
