<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="net.tcp://localhost:9000/servicemodelsamples/service" binding="netTcpBinding" contract="Microsoft.Samples.NetTcp.ICalculator">
        <!--Include the identity element when running cross-machine in a domain.-->
        <!--
        <identity>
          <userPrincipalName value = "user_name@service_domain"/>
        </identity>
        -->
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
