<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <tracking>
      <profiles>
        <!--
        The health monitoring profile queries for workflow instance level records and for workflow actvity faultpropagationrecords
         -->
        <trackingProfile name="Health Tracking">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="Started"/>
                  <state name="Completed"/>
                  <state name="Aborted"/>
                  <state name="UnhandledException"/>
                </states>
             </workflowInstanceQuery>
           </workflowInstanceQueries>
           <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName ="*" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
          </workflow>
        </trackingProfile>
        <!-- The troubleshooting profile is a verbose profile that subscribes for all tracking records emitted by the workflow runtime -->  
        <trackingProfile name="Troubleshooting Tracking" implementationVisibility="All">
          <workflow activityDefinitionId="*">
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <activityStateQueries>
              <activityStateQuery activityName="*">
                <states>
                  <state name="*" />
                </states>
              </activityStateQuery>
            </activityStateQueries>
            <activityScheduledQueries>
              <activityScheduledQuery activityName="*" childActivityName="*" />
            </activityScheduledQueries>
            <cancelRequestedQueries>
              <cancelRequestedQuery activityName="*" childActivityName="*" />
            </cancelRequestedQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName="*" faultHandlerActivityName="*" />
            </faultPropagationQueries>
            <bookmarkResumptionQueries>
              <bookmarkResumptionQuery name="*" />
            </bookmarkResumptionQueries>
            <customTrackingQueries>
              <customTrackingQuery name="*" activityName="*" />
            </customTrackingQueries>
          </workflow>
        </trackingProfile>     
      </profiles>
    </tracking>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To turn on tracking on a workflow service to emit events to a ETW session the etwTracking behavior element is applied to the service behavior-->
          <etwTracking profileName="Health Tracking"/>
	       <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
