<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net452" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="SQLite" version="3.12.3" targetFramework="net452" />
  <package id="SQLite.Native" version="3.12.3" targetFramework="net452" />
</packages>