<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.Azure.Devices.Client" version="1.0.0-preview.23" targetFramework="netnanoframework10" />
  <package id="nanoFramework.CoreLibrary" version="1.10.5" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Iot.Device.Bmxx80" version="1.0.164" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Json" version="2.1.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.M2Mqtt" version="5.0.0-preview.2" targetFramework="netnanoframework10" />
  <package id="nanoFramework.NetWorkHelper" version="1.3.3-preview.5" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.9.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.5.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.2.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Gpio" version="1.0.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.I2c" version="1.0.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Math" version="1.4.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net" version="1.7.0" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net.Http" version="1.3.4" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net.Http.Client" version="1.3.4" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Threading" version="1.0.2" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Wifi" version="1.3.2" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Storage.Streams" version="1.12.2" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.Duration" version="4.102.0" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.ElectricResistance" version="4.102.0" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.Length" version="4.102.0" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.Pressure" version="4.102.0" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.RelativeHumidity" version="4.102.0" targetFramework="netnanoframework10" />
  <package id="UnitsNet.nanoFramework.Temperature" version="4.102.0" targetFramework="netnanoframework10" />
</packages>