<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.Samples.TrustedFacade.FacadeService" behaviorConfiguration="FacadeServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/FacadeService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8000/FacadeService" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.TrustedFacade.ICalculator"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/FacadeService/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <client>
      <endpoint name="" address="net.tcp://localhost:8001/BackendService" binding="customBinding" bindingConfiguration="ClientBinding" contract="Microsoft.Samples.TrustedFacade.ICalculator"/>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="ClientBinding">
          <security authenticationMode="UserNameOverTransport"/>
          <windowsStreamSecurity/>
          <tcpTransport/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="FacadeServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>

          <!-- 
          The serviceCredentials behavior allows one to define a service certificate.
          A service certificate is used by the service to authenticate itself to its clients and to provide message protection.
          This configuration references the "localhost" certificate installed during the setup instructions.
          -->
          <serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Microsoft.Samples.TrustedFacade.MyUserNamePasswordValidator, FacadeService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
