<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="wsHttpBinding" contract="Microsoft.Samples.ServiceModel.ICalculator"/>
    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
