<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved -->
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <!--ROUTING SERVICE -->
      <service behaviorConfiguration="routingData"
          name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add  baseAddress="http://localhost:8000/routingservice/router"/>
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="wsHttpBinding" 
                  name="reqReplyEndpoint" 
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"  />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="routingData">
          <serviceMetadata httpGetEnabled="True"/>
          <routing filterTableName="routingTable1" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="CalculatorService" address="http://localhost:8000/servicemodelsamples/service" binding="wsHttpBinding" contract="*" />
    </client>
    <!--ROUTING SECTION -->
    <routing>
      <filters>
        <filter name="MatchAllFilter1" filterType="MatchAll" />
      </filters>
      <filterTables>
        <filterTable name="routingTable1">
            <add filterName="MatchAllFilter1" endpointName="CalculatorService" />
        </filterTable>
      </filterTables>    
  </routing>
  </system.serviceModel>
</configuration>