<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>

  <appSettings>
    <!-- use appSetting to configure service mex address to retrieve metadata from -->
    <add key="mexAddress" value="http://localhost/servicemodelsamples/service.svc/mex"/>
  </appSettings>

</configuration>
