<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.serviceModel>
    
    <services>
      <service name="PrintService" 
               behaviorConfiguration="printServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="IPrintService"/>
                  
        <!--Adding the udp endpoint over which discovery service will listen for discovery messages.-->
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>
    
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="printServiceBehavior">
          <!--Adding the discovery service behavior to make the WF service discoverable-->
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    
  </system.serviceModel>
</configuration>