<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.PoolService">
        <endpoint address="net.tcp://localhost:8000/poolservice" binding="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IPoolService"/>

        <endpoint address="net.tcp://localhost:8001/poolservice" binding="netTcpBinding" contract="Microsoft.ServiceModel.Samples.IPoolService"/>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
