<?xml version="1.0"?>
<configuration>
<system.serviceModel>
  <behaviors>
    <endpointBehaviors>
      <behavior name="ClientCredentialsBehavior">
        <clientCredentials>
          <serviceCertificate>
            <!-- 
          Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
          is in the user's Trusted People store, then it will be trusted without performing a
          validation of the certificate's issuer chain. This setting is used here for convenience so that the 
          sample can be run without having to have certificates issued by a certificate authority (CA).
          This setting is less secure than the default, ChainTrust. The security implications of this 
          setting should be carefully considered before using PeerOrChainTrust in production code. 
          -->
            <authentication certificateValidationMode="PeerOrChainTrust"/>
          </serviceCertificate>
        </clientCredentials>
      </behavior>
    </endpointBehaviors>
  </behaviors>
  <bindings>
    <wsHttpBinding>
      <binding name="WSHttpBinding_ICalculator_Anonymous">
        <security>
          <message clientCredentialType="None" negotiateServiceCredential="true" establishSecurityContext="false"/>
        </security>
      </binding>
      <binding name="WSHttpBinding_ICalculator_Windows">
        <security>
          <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="false"/>
        </security>
      </binding>
    </wsHttpBinding>
  </bindings>
  <client>
    <endpoint address="http://localhost:8003/servicemodelsamples/service/dnsidentity" behaviorConfiguration="ClientCredentialsBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator_Anonymous" contract="ICalculator" name="WSHttpBinding_ICalculator">
      <identity>
        <dns value="identity.com"/>
      </identity>
    </endpoint>
    <endpoint address="http://localhost:8003/servicemodelsamples/service/certificateidentity" behaviorConfiguration="ClientCredentialsBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator_Anonymous" contract="ICalculator" name="WSHttpBinding_ICalculator1">
      <identity>
        <certificate encodedValue="AwAAAAEAAAAUAAAAJLvqbWsywhFvTiAdeZpTOOnlotogAAAAAQAAAMoBAAAwggHGMIIBdKADAgECAhAwPmD4y5aVgUgzb9ryCQu3MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMDYwODIzMDMzMTA0WhcNMzkxMjMxMjM1OTU5WjApMRAwDgYDVQQKEwdDb250b3NvMRUwEwYDVQQDEwxpZGVudGl0eS5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMaWCxw9ytQbGyPljoAoZsJ6zcNupQlvWFBmr7H7ss98FcQAJ41J3pT8NfehmXDnk1k2Rwg/SsfH2VnoX2b0I+szLdsbWssjwg4qzHInp9Riz9BCKu4OEsbZicjRY+a4p9qrRu5qCUf0B7jY9VeMaVlqm68QH+q2SIHWEKTXuAw5AgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAYmFOJgIegB32rKmsQ7LWXvzwItghII0oOpbGY29GZiFz+WwOA4t5eRr4+YiyYh+rDzR7o8RW7SMZXEMgWo7d+g=="/>
      </identity>
    </endpoint>
    <endpoint address="http://localhost:8003/servicemodelsamples/service/rsaidentity" behaviorConfiguration="ClientCredentialsBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator_Anonymous" contract="ICalculator" name="WSHttpBinding_ICalculator2">
      <identity>
        <rsa value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;xpYLHD3K1BsbI+WOgChmwnrNw26lCW9YUGavsfuyz3wVxAAnjUnelPw196GZcOeTWTZHCD9Kx8fZWehfZvQj6zMt2xtayyPCDirMcien1GLP0EIq7g4SxtmJyNFj5rin2qtG7moJR/QHuNj1V4xpWWqbrxAf6rZIgdYQpNe4DDk=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;"/>
      </identity>
    </endpoint>
    <endpoint address="http://localhost:8003/servicemodelsamples/service/upnidentity" behaviorConfiguration="ClientCredentialsBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator_Windows" contract="ICalculator" name="WSHttpBinding_ICalculator3">
      <identity>
        <!-- The identity created here will depend on the UPN the service is running under. -->
        <!-- The identity does not get checked when NTLM authentication is used which occurs -->
        <!-- when the client and service are running on the same machine. -->
        <!-- Setting negotiateServiceCredential="false" on the binding name="WSHttpBinding_ICalculator_Windows" -->
        <!-- forces Kerberos authentication and this client call will then fail unless the value -->
        <!-- for the UPN is changed below. e.g. value="host\myrealservice.com" -->
          <userPrincipalName value="host\myservice.com"/>
      </identity>
    </endpoint>
  </client>
</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
