<?xml version="1.0"?>
<configuration>

  <system.serviceModel>

    <!-- 
         add our udpTransport handler for use by binding declarations 
     -->
    <!-- 
         add our standard binding handler for use by binding declarations 
     -->
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransport" type="Microsoft.ServiceModel.Samples.UdpTransportElement, UdpActivation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6fa904d2da1848d6"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="Microsoft.ServiceModel.Samples.SampleProfileUdpBindingCollectionElement, UdpActivation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6fa904d2da1848d6"/>
      </bindingExtensions>
    </extensions>

    <client>
      <metadata>
        <policyImporters>
          <extension type="Microsoft.ServiceModel.Samples.UdpBindingElementConverter, UdpActivation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6fa904d2da1848d6"/>
        </policyImporters>
      </metadata>
      <endpoint name="calculator" address="net.udp://localhost:8080/servicemodelsamples/Service.svc/calculator" binding="sampleProfileUdpBinding" bindingConfiguration="CalculatorServer" contract="Microsoft.ServiceModel.Samples.ICalculatorContract">
      </endpoint>
      <endpoint name="datagram" address="net.udp://localhost:8080/servicemodelsamples/Service.svc/datagram" binding="customBinding" bindingConfiguration="DatagramServer" contract="Microsoft.ServiceModel.Samples.IDatagramContract">
      </endpoint>
      <endpoint name="status" address="http://localhost/servicemodelsamples/Service.svc/status" binding="basicHttpBinding" bindingConfiguration="StatusServer" contract="Microsoft.ServiceModel.Samples.IStatusContract"/>
    </client>
    <bindings>
      <sampleProfileUdpBinding>
        <binding name="CalculatorServer"/>
        <binding name="DatagramServer" reliableSessionEnabled="false"/>
      </sampleProfileUdpBinding>

      <customBinding>
        <binding name="DatagramServer">
          <binaryMessageEncoding/>
          <udpTransport/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="StatusServer" maxReceivedMessageSize="1000000"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
