<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost/servicemodelsamples/service.svc" binding="wsDualHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.DualHttp.ICalculatorDuplex"/>
    </client>

    <bindings>
      <!-- configure a WSDualHttpBinding that supports duplex communication -->
      <wsDualHttpBinding>
        <binding name="Binding1" clientBaseAddress="http://localhost:8000/myClient/" useDefaultWebProxy="true" bypassProxyOnLocal="false">
        </binding>
      </wsDualHttpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
