<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="wsDualHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.ServiceModel.Samples.ISampleContract"/>
    </client>

    <bindings>
      <wsDualHttpBinding>
		<!--If running in cross machine then replace localhost with the FQDN of the client machine-->
        <binding name="Binding1" clientBaseAddress="http://localhost:9000/myClient/"/>
      </wsDualHttpBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
