<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />        
    </system.web>

  <system.webServer>
	<!-- Switch on runAllManagedModules so that Routing on URL without extensions can be enabled -->
    <modules runAllManagedModulesForAllRequests="true">

	<!-- Add a reference to the URL Routing Module in System.Web.Routing -->
        <add name="UrlRoutingModule"
               type="System.Web.Routing.UrlRoutingModule, 
                   System.Web.Routing, Version=4.0.0.0, 
                   Culture=neutral, 
                   PublicKeyToken=31BF3856AD364E35" />
      

      </modules>
      <handlers>

        <add name="UrlRoutingHandler"
              preCondition="integratedMode"
              verb="*" path="UrlRouting.axd"
              type="System.Web.HttpForbiddenHandler, 
                  System.Web, Version=4.0.0.0, Culture=neutral, 
                  PublicKeyToken=b03f5f7f11d50a3a" />
      

      </handlers>
      
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled ="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
