<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="wsStreamedHttpBinding" type="Microsoft.Samples.WSStreamedHttpBinding.WSStreamedHttpBindingCollectionElement, WSStreamedHttpBinding, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
    <protocolMapping>
      <add scheme="https" binding="wsStreamedHttpBinding" />
    </protocolMapping>
    <bindings>
      <wsStreamedHttpBinding>
        <binding transferMode="Streamed"/>
      </wsStreamedHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
