<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Samples.CalculatorService">
        <!-- ICalculator is exposed at Address urn:Stuff, ListenUri http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address="urn:Stuff"
                  binding="wsHttpBinding"
                  contract="Microsoft.ServiceModel.Samples.ICalculator" 
                  listenUri="http://localhost/servicemodelsamples/service.svc" >
        </endpoint>

        <!-- IEcho is also exposed at Address urn:Stuff, ListenUri http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address="urn:Stuff"
                  binding="wsHttpBinding"
                  contract="Microsoft.ServiceModel.Samples.IEcho" 
                  listenUri="http://localhost/servicemodelsamples/service.svc" >
        </endpoint>
        <!-- Another IEcho is exposed at Address urn:OtherEcho, ListenUri http://localhost/servicemodelsamples/service.svc  -->
        <endpoint address="urn:OtherEcho"
                  binding="wsHttpBinding"
                  contract="Microsoft.ServiceModel.Samples.IEcho" 
                  listenUri="http://localhost/servicemodelsamples/service.svc" >
        </endpoint>
        <!-- Server's base address (from webhost) is http://localhost/servicemodelsamples/service.svc -->
        <!-- the mex endpoint is exposed at <server base address>/mex -->
        <!-- when no listenUri is specified, listenUri defaults to same value as address -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
