<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.ServiceModel.Samples.HelloService"
          behaviorConfiguration="CalculatorServiceBehavior">
        <!-- Toggle the behaviorConfiguration between 'endpoint1' and 'endpoint2'
             to see changes in behavior. -->
        <endpoint address=""
                  bindingConfiguration="ws"
                  listenUri="" 
                  binding="wsHttpBinding"
                  contract="Microsoft.ServiceModel.Samples.IHello" 
                  behaviorConfiguration="endpoint2" />
        <!-- the mex endpoint is exposed at http://localhost/servicemodelsamples/service.svc/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name ="ws">
          <security mode ="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="filteringEndpointBehavior" type="Microsoft.ServiceModel.Samples.FilteringEndpointBehaviorExtension, service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpoint1">
          <filteringEndpointBehavior variation="1" />
        </behavior>
        <behavior name="endpoint2">
          <filteringEndpointBehavior variation="2" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
