<?xml version="1.0" encoding="utf-8" ?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <appSettings>
    <add key="bookDB" value="BookDB.txt" />
    <add key="certDistinguishedName" value="CN=BookStoreSTS.com" />
    <add key="targetDistinguishedName" value="CN=BookStoreService.com" />
    <add key="issuerDistinguishedName" value="CN=HomeRealmSTS.com" />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the STS and provide message protection.
            This configuration references the "BookStoreSTS.com" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"
                                findValue="BookStoreSTS.com" />
            <!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "HomeRealmSTS.com" certificate to a list of known certificates. This
            means that the STS will accept tokens issued by "HomeRealmSTS.com".
            -->
            <issuedTokenAuthentication>
              <!--Adds the allowed audience Uris that this application will accept. The HomeRealmSTS will issue SAML token with
              this audience Uri. If a SAML token does not contain any of the allowed audience Uris from this list, the token will be rejected.-->
              <allowedAudienceUris>
                <add allowedAudienceUri="http://localhost/FederationSample/BookStoreSTS/STS.svc"/>
              </allowedAudienceUris>
              <knownCertificates>
                <add  storeLocation ='LocalMachine'
                      storeName ='TrustedPeople'
                      x509FindType ='FindBySubjectName'
                      findValue ='HomeRealmSTS.com' />
              </knownCertificates>
            </issuedTokenAuthentication>
          </serviceCredentials>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled ="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsFederationHttpBinding>
        <!-- This is the binding for the clients requesting tokens from this STS. It redirects clients to the HomeRealm STS -->
        <binding>
          <security mode='Message'>
            <message>
              <issuerMetadata address='http://localhost/FederationSample/HomeRealmSTS/STS.svc/mex' >
                <!--
                The HomeRealm STS will, in all likelyhood, be running on a machine whose domain name
                is NOT HomeRealmSTS.com, but will identify itself using a certificate containing 
                "HomeRealmSTS.com" as its subject name. The identity configuration element here tells
                consumers of the service to expect a DNS name of "HomeRealmSTS.com" when talking to 
                the HomeRealm STS.
                -->
                <identity>
                  <dns value ='HomeRealmSTS.com' />
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>

    <protocolMapping>
      <add scheme="http" binding="wsFederationHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>

</configuration>


