<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="basicHttpBinding" contract="Microsoft.Samples.Message.ICalculator"/>
    </client>

  </system.serviceModel>

</configuration>
