<?xml version="1.0"?>
<!--Copyright (c) Microsoft Corporation.  All Rights Reserved.-->
<configuration>
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="orderQueueName" value=".\private$\Orders"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Microsoft.Samples.MSMQToWCF.OrderProcessorService">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\Orders" binding="msmqIntegrationBinding" bindingConfiguration="OrderProcessorBinding" contract="Microsoft.Samples.MSMQToWCF.IOrderProcessor">
        </endpoint>
      </service>
    </services>

    <bindings>
      <msmqIntegrationBinding>
        <binding name="OrderProcessorBinding">
          <security mode="None"/>
        </binding>
      </msmqIntegrationBinding>
    </bindings>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
