<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <!-- WARNING:
                   Setting includeExceptionDetailInFaults = "True" could result in leaking secured 
                   server information to the client. Please set this to false when deploying -->
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
