<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint name="" address="http://localhost/servicemodelsamples/service.svc" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Samples.PrincipalPermissionAuthorization.ICalculator"/>
    </client>

    <bindings>
      <wsHttpBinding>
        <!-- 
				The default security for the WSHttpBinding is Message Security using Windows 
				authentication.This configuration explicitly defines the SecurityMode as Message 
				and the clientCredentialType as Windows for demonstration purposes.
				-->
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
