<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <connectionStrings>
    <add name="ApprovalProcessDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=DocApprovalSample;Integrated Security=True;Asynchronous Processing=True"/>
  </connectionStrings>

  <!-- Uncomment this and section in system.serviceModel and then created c:\logs to enable WF/WCF message logging -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\messages2.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->


  <system.serviceModel>
    <!-- Uncomment this and section in system.diagnostics and then created c:\logs to enable WF/WCF message logging -->
    <!--<diagnostics wmiProviderEnabled="false" performanceCounters="Off">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
         logMessagesAtServiceLevel="false"
         logMessagesAtTransportLevel="true"
         maxMessagesToLog="10000"
         maxSizeOfMessageToLog="2147483647">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>-->
    
    <extensions>
      <behaviorExtensions>
        <add name="trackingComponents" type="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.GenericTrackingProviderElement, TrackingLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.SubscriptionManager">
        <endpoint address ="" binding="basicHttpBinding" contract="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.ISubscriptionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint name="DiscoveryEndpoint" kind="udpDiscoveryEndpoint" />
      </service>
      <service name="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.ApprovalManager">
        <endpoint address="" binding="basicHttpBinding" contract="IApprovalProcess" />        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint name="DiscoveryEndpoint" kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint name="udpEndpoint"
                        kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
          <trackingComponents>
            <add name="consoleTrackingParticipant"
                 type="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.WriterParticipant, TrackingLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                 profileName="Approval_Monitor" />
          </trackingComponents>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <tracking>
      <profiles>
        <trackingProfile name="Approval_Monitor">
          <workflow>
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*" />
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <activityStateQueries>
              <activityStateQuery activityName="*">
                <states>
                  <state name="*" />
                </states>
              </activityStateQuery>
            </activityStateQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>    
  </system.serviceModel>
</configuration>
