<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/ServiceModelSamples/service.svc" binding="basicHttpBinding" contract="Microsoft.Samples.DataBinding.IAlbumService">
            </endpoint>
        </client>
	</system.serviceModel>
</configuration>
