<?xml version="1.0" encoding="utf-8" ?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>

  <!-- Set the connection string for SQL Server -->
  <connectionStrings>
    <add name="SqlConn" 
         connectionString="Data Source=localhost\sqlexpress;Integrated Security=SSPI;Initial Catalog=aspnetdb;" />
  </connectionStrings>

  <system.web>
    <!-- Configure the Sql Membership Provider -->
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add 
          name="SqlMembershipProvider" 
          type="System.Web.Security.SqlMembershipProvider" 
          connectionStringName="SqlConn"
          applicationName="MembershipAndRoleProviderSample"
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>

    <!-- Configure the Sql Role Provider -->
    <roleManager enabled ="true" 
                 defaultProvider ="SqlRoleProvider" >
      <providers>
        <add name ="SqlRoleProvider" 
             type="System.Web.Security.SqlRoleProvider" 
             connectionStringName="SqlConn" 
             applicationName="MembershipAndRoleProviderSample"/>
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>

    <bindings>
      <wsHttpBinding>
        <!-- Set up a binding that uses Username as the client credential type -->
        <binding>
          <security mode ="Message">
            <message clientCredentialType ="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Configure role based authorization to use the Role Provider -->
          <serviceAuthorization principalPermissionMode ="UseAspNetRoles"
                                roleProviderName ="SqlRoleProvider" />
          <serviceCredentials>
            <!-- Configure user name authentication to use the Membership Provider -->
            <userNameAuthentication userNamePasswordValidationMode ="MembershipProvider"
                                    membershipProviderName ="SqlMembershipProvider"/>
            <!-- Configure the service certificate -->
            <serviceCertificate storeLocation ="LocalMachine"
                                storeName ="My"
                                x509FindType ="FindBySubjectName"
                                findValue ="localhost" />
          </serviceCredentials>
          <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
