<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculator">
          <readerQuotas />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/Samples/Service.svc/customEndpoint" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator" contract="ServiceReference1.ICalculator" name="BasicHttpBinding_ICalculator" />
    </client>
  </system.serviceModel>
</configuration>
