<?xml version="1.0"?>
<configuration>
   <system.serviceModel>
     <extensions>
       <bindingElementExtensions>
         <add name="durableInstanceContext" type="Microsoft.ServiceModel.Samples.DurableInstanceContextBindingElementSection, DurableInstanceContextExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
       </bindingElementExtensions>
     </extensions>

     <client>
       <endpoint address="http://localhost:8000/ServiceModelSamples/service" binding="customBinding" bindingConfiguration="TextOverHttp" contract="Microsoft.ServiceModel.Samples.IShoppingCart"/>       
     </client>

     <bindings>
       <customBinding>
         <binding name="TextOverHttp">
           <!-- Uncomment this to customize the context store location>
           <durableInstanceContext contextType="HttpCookie" contextStoreLocation="C:\Temp">
           --> 
           
           <!-- Comment this when using the customized context store location-->  
           <durableInstanceContext contextType="HttpCookie"/>
           
           <reliableSession/>
           <textMessageEncoding/>
           <httpTransport/>
         </binding>
       </customBinding>
     </bindings>

   </system.serviceModel>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
