<?xml version="1.0"?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
	<system.serviceModel>
    <bindings>
      <!-- Service binding using federation -->
      <wsFederationHttpBinding>
        <!-- Service binding using SAML and symmetric proof keys -->
        <binding name="ServiceFed">
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <!-- Metadata address for Security Token Service -->
              <issuerMetadata address="http://localhost:8000/sts/mex">
                <identity>
                  <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>
        
    <services>
      <service name="Microsoft.Samples.DurableIssuedTokenProvider.CalculatorService" behaviorConfiguration="ServiceBehaviour">
        <host>
          <!-- configure base address provided by host -->
          <baseAddresses>
            <add baseAddress="http://localhost:8010/fedservice/"/>
          </baseAddresses>
        </host>
        <!-- use base address provided by host, provide one endpoint -->
        <endpoint address="calc" binding="wsFederationHttpBinding" bindingConfiguration="ServiceFed" contract="Microsoft.Samples.DurableIssuedTokenProvider.ICalculator"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "STS" certificate to a list of known certificates. This
            means that the service will accept tokens issued by "STS".
            -->
            <issuedTokenAuthentication>
              <allowedAudienceUris>
                <add allowedAudienceUri="http://localhost:8010/fedservice/calc"/>
              </allowedAudienceUris>
              <knownCertificates>
                <add storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
              </knownCertificates>
            </issuedTokenAuthentication>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" findValue="CN=localhost"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
	</system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
