<?xml version="1.0"?>
<configuration>

  <system.serviceModel>

    <client>
      <!-- Define NetMsmqEndpoint -->
      <endpoint address="net.msmq://localhost/private/ServiceModelSamplesTransacted" binding="netMsmqBinding" bindingConfiguration="TransactedBinding" contract="Microsoft.Samples.MSMQTransactedSample.IOrderProcessor"/>
    </client>

    <bindings>
      <netMsmqBinding>
        <binding name="TransactedBinding">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
