<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGetKey">
          <readerQuotas />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://full_machine_name/ExtendedProtection/GetKey.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGetKey" contract="IGetKey" name="WSHttpBinding_IGetKey"></endpoint>
    </client>
  </system.serviceModel>
</configuration>
