<?xml version="1.0"?>

<configuration>
  <!-- WCF configuration -->
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- Use this element to configure the endpoint -->
        <standardEndpoint name="" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>