<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlContextStore" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SamplDB.mdf;Integrated Security=True;User Instance=True"/>
  </appSettings>
  
  <system.serviceModel>
	
    <extensions>
			<bindingElementExtensions>
				<add name="durableInstanceContext" type="Microsoft.ServiceModel.Samples.DurableInstanceContextBindingElementSection, DurableInstanceContextExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</bindingElementExtensions>
		</extensions>

    <services>
			<service name="Microsoft.ServiceModel.Samples.ShoppingCart" behaviorConfiguration="ShoppingCartBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/servicemodelsamples/service"/>
          </baseAddresses>
        </host>
				<!-- use base address provided by host -->
				<endpoint address="" binding="customBinding" bindingConfiguration="TextOverHttp" contract="Microsoft.ServiceModel.Samples.IShoppingCart"/>
			</service>
		</services>
		
    <bindings>
			<customBinding>
				<binding name="TextOverHttp">
					<durableInstanceContext contextType="HttpCookie"/>
					<reliableSession/>
					<textMessageEncoding/>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ShoppingCartBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
	
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
